@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-base: "Avenir Next", "Manrope", sans-serif;
  --font-mono: "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  --h: 180;
  --s: 2%;
  --l: 20%;
  --color-bg: hsl(0, 0%, 4%);
  --color-grey-100: #fff;
  --color-grey-300: #e4e7e7;
  --color-grey-400: #c9cfcf;
  --color-grey-500: #9ea9a9;
  --color-grey-700: #7a8484;
  --color-grey-900: #3b4040;
  --color-grey-950: #272a2a;
  --color-primary: hsl(var(--h), var(--s), var(--l));
  --shadow-md: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  --shadow-lg: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  --rounded-sm: 0.5rem;
  --rounded-md: 1.5rem;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
/* Custom Scrollbar for Webkit Browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background-color: var(--color-grey-950); /* Track color */
  border-radius: var(--rounded-sm); /* Rounded corners */
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-grey-400); /* Thumb (scroll handle) color */
  border-radius: var(--rounded-sm); /* Rounded corners */
  border: 3px solid transparent; /* Add some space around the thumb */
  background-clip: padding-box; /* Ensure the thumb doesn't overlap the border */
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-grey-500); /* Thumb color on hover */
}

::-webkit-scrollbar-thumb:active {
  background-color: var(--color-grey-700); /* Thumb color when active (clicked) */
}

/* Firefox custom scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-grey-400) var(--color-grey-950); /* Thumb color Track color */
}

/* For Edge, IE, or unsupported browsers, no custom styling */
